
.App {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  .frame {
    flex-wrap: nowrap;
    height: 100%;

    .namespace {
      flex: 0 1 1/12%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      min-width: 54px;
      max-width: 80px;
      background-color: #202229;
    }

    .room {
      flex: 1 1 1/4%;
      min-width: 142px;
      max-width: 280px;
      background-color: #404249;
    }

    .chat {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: stretch;
      justify-content: stretch;
      padding-top: 14px;
      padding-bottom: 14px;
      max-width: none;
    }
  }
}

.no-gutter {
  padding: 0;
  margin: 0;
}
