
.Chat {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .header {
    flex: 0 0 auto;

    h2 {
      display: inline-block;
      vertical-align: middle;
    }

    .users {
      vertical-align: middle;
      color: #aaa;
      margin-left: 8px;
    }

    .users .icon {
      font-size: 28px;
    }
  }

  .body {
    flex: 1 1 auto;
    position: relative;

    .messages {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-bottom: 12px;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      overflow-y: scroll;
    }
  }

  .footer {
    flex: 0 0 auto;

    input[type=text] {
      width: 100%;
      outline: none;
      border: 1px solid gray;
      line-height: 36px;
      padding: 0 8px;
      border-radius: 5px;
    }

    input[type=submit] {
      display: none;
    }
  }
}
